@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');

header {
    width: 100%;
    display: flex;
}

body {
    margin: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.headerTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: dotted 1px #000;
    padding-bottom: 10px;
    margin-top: 15px;
}

.social > ul {
    padding-left: 0;
    margin: 0;
    display: flex;
}

.social > ul > li {
    list-style: none;
    margin-right: 10px;
}

.social > ul > li:last-child {
    margin-right: 0;
}

.phone > a {
    color: #333;
    text-decoration: none;
}

.phone > a:hover {
    text-decoration: underline;
    font-style: italic;
}

.headerBottom {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.headerBottom > ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}

.headerBottom > ul > li {
    list-style: none;
    margin-right: 20px;
}

.headerBottom > ul > li > a {
    text-decoration: none;
}

.headerBottom > ul > li > a:hover {
    color: #e31215;
}

a {
    color: #333;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
    background-image: url('https://htmldemo.net/christ/christ/img/section-title-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.item-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-img {
    width: 100%;
    position: relative;
}

.product-img > img {
    width: 100%;
}

.new {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 20px;
}

.product-name {
    font-weight: bold;
    margin: 10px 0 5px 0;
    font-size: 20px;
}

.product-cat {
    font-style: italic;
    margin-bottom: 5px;
}

.product-price {
    font-size: 15px;
}

.blog-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.blog-img {
    width: 100%;
}

.blog-img > img {
    width: 100%;
}

.blog-publish-date {
    font-size: 10px;
    color: #24a2cc;
    margin: 10px 0;
}

.blog-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.blog-text {
    font-size: 10px;
    color: gray;
}

.content-title {
    width: 100%;
    background-image: url(https://htmldemo.net/christ/christ/img/hero/1.jpg);
    height: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.content-title h1 {
    color: #fff;
    text-shadow: 1px 0px 5px #000;
}

.content p {
    margin-bottom: 0;
    margin-top: 10px;
}

.contact-us-background {
    background-image: url(https://htmldemo.net/christ/christ/img/hero/2.jpg);
    background-position: center;
    background-size: cover;
}

@media (max-width: 991.98px) {
    .container {
        width: 100%;
    }
    
    .product-item {
        width: 100%;
    }
    
    .blog-item {
        width: 100%;
    }
}

.items {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
  }
  
  #buttonsContainer {
    margin-bottom: 20px;
  }
  
  .button {
    margin-top: 20px;
    margin-right: 10px;
    background-color: rgb(255, 131, 131);
    color: white;
    border-radius: 5px;
    border-color: white;
  }

  .button.active {
    background-color: darkred;
    color: white;
  }
  
  
  #flightList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .container {
    display: flex;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .innerContainer {
    margin-bottom: 10px;
    width: 50%;
  }

  .flightOperator {
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50%;
  }  
  
  .textCity {
    font-size: 18px;
    color: #313131;
    text-align: left;
    margin-top: 10px;
  }
  
  .timeContainer {
    font-size: 14px;
    color: #333;
    text-align: left;   
  }
  
  
  
  .time {
    font-size: 16px;
    color: #333;
  }
  
  .text {
    font-size: 16px;
    text-align: left;
  }
  
  .airportCode {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    text-align: left;
  }
  
  .priceContainer {
    margin-top: 10px;
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 35px;
  }
  
  .flightOperator {
    font-weight: bold;
    text-align: left;
    color: black;
  }

.footer-container{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    margin: 0 auto;
    background-color:#333;
    background-image: url(https://htmldemo.net/christ/christ/img/bg/footer-bg.png);
}

.footer-outline{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 70px;
}

.footer-outline-logo {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
    background-image: url('https://htmldemo.net/christ/christ/img/footer-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #333;
}

.footer-outline-text {
    font-size: 12px;
    color: #fff;
}

.footer-information {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer-information-header {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.footer-information-hrefs > * {
    color: #fff;
    display: flex;
}

.footer-categories {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 28px;
}

.footer-categories-header {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.footer-categories-hrefs > * {
    color: #fff;
}

.footer-contact-us {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 47px;
}

.footer-contact-us-title {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.footer-contact-us-text > * {
    color: #fff;
}